/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$presentation-font-size-root: 24px;
$font-family-sans-serif: "Libertinus Sans";
$font-family-monospace: "Fira Mono";
$presentation-heading-font: Poppins, "Noto Sans";
$presentation-heading-font-weight: 400;
$presentation-heading-color: #0072ce;


$primary-color: #0072ce;
$secondary-color: #002855;

.primary-color {
    color: #0072ce;
}

.hec-dark-blue {
    color: #002855;
}

.dark-green {
    color: #26d07c;
}

.light-green-bg {
    background-color: #8fe2b0;
}

.dark-red {
    color: #ff585d;
}

.light-red-bg {
    background-color: #ffb1bb;
}

.reveal .slides section .fragment.blur {
    filter: blur(5px);
}

.reveal .slides section .fragment.blur.visible {
    filter: none
}
